<%= turbo_frame_tag :group_content do %>
    <div class="container w-100 mt-3 p-3 shadow">
        <%= turbo_stream_from "group_#{@group.id}_messages" %>
        <div class="messages" style="height: 500px; overflow-y: auto;">
            <div class="messages-overlay" id="messages">
                <% @messages.each do |message| %>
                    <%= render "group_messages/message", message: message, user: current_user %>
                <% end %>
            </div>
        </div>
        <div class="mt-3">
            <%= simple_form_for [@group, @message],
                                                    url: create_message_path,
                                                    html: {
                                                        class: "d-flex",
                                                        data: { controller: "reset",
                                                                action: "turbo:submit-end->reset#reset" }
                                                        } do |f| %>
                <%= hidden_field_tag :session_user, current_user.id %>
                <%= f.input :message, label: false, wrapper_html: {class: "flex-grow-1"} %>
                <%= f.submit "Send", class: "btn btn-primary mb-3" %>
            <% end %>
        </div>
    </div>
<% end %>
