<div class="container bg-white border shadow mt-3 p-3 w-50">
  <%# render "shared/logo" %>
    <h4 class="text-center">Edit your information</h4>
    <hr>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
  
    <div class="form-inputs" data-controller="remove-class">
      <%= f.input :email, required: true, hint: "It is not possible to modify your email. Please contact us at: contact@gogogo.com ",
                                          input_html: {
                                            data: {
                                                remove_class_target: "inputElementEmail"
                                              },
                                              disabled: true, class: "text-secondary"} %>
  
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <hr>
      <p><strong>Personal info</strong></p>
      <%= f.input :first_name,
                  required: false,
                  input_html: { autocomplete: "first-name" } %>
      <%= f.input :last_name,
                  required: false,
                  input_html: { autocomplete: "last-name" } %>
      <%= f.input :dob,
                  required: false,
                  label: "Date of Birth",
                  input_html: { autocomplete: "date-of-birth" } %>
      <%= f.input :phone_number,
                  required: false,
                  input_html: { autocomplete: "phone-number" } %>
      <hr>
      <p><strong>Account security</strong></p>
      <%= f.input :password,
                  hint: "If you do not want to change your password, just leave it blank",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <hr>
      <p><strong>To confirm your changes please enter your password</strong></p>
      <%= f.input :current_password,
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>
  
    <div class="form-actions">
      <%= f.button :submit, "Update my profile", class: "btn btn-success w-100 mt-3" %>
    </div>
  <% end %>
  <hr>
  <div class=""><p class="text-secondary small">Unhappy with our service?</p>
  <%= button_to "Cancel my account", registration_path(resource_name),
          class: "btn btn-dark btn-sm",
          data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" },
          method: :delete %>
  </div>
</div>
