<%= turbo_frame_tag :group_content do %>
    <% if @group.owner?(current_user) %>
    <%= simple_form_for @group, url: invite_requests_path, method: :post do |f| %>
        <!-- Users as Cards -->
        <div class="row">
            <p><strong>Invite more users to your group:</strong></p>
            <% @users.each do |user| %>
            <div class="col-md-4">
                <div class="card mb-3" style="width: 18rem;">
                <div class="card-body text-center">
                    <!-- User Image (we're missing this... need new column) -->
                    <%# image_tag(user.avatar.attached? ? url_for(user.avatar) : 'https://via.placeholder.com/100', class: "card-img-top rounded-circle mb-3", alt: user.name) %>
    
                    <!-- User Info (we're missing some things here: name, age... probably don't want to be giving out emails... need new columns) -->
                    <h5 class="card-title"><%# user.name %></h5>
                    <p class="card-text"><%= user.email %></p>
    
                    <!-- User Checkbox -->
                    <div class="form-check">
                    <%= check_box_tag 'group[user][]', user.id, class: "form-check-input", id: "user_#{user.id}" %>
                    <%= label_tag "user_#{user.id}", "Invite", class: "form-check-label" %>
                    </div>
                </div>
                </div>
            </div>
            <% end %>
        </div>
    
        <!-- Submit Button -->
        <%= f.submit 'Invite to group', class: 'btn btn-primary' %>
    <% end %>
    <% else %>
        You are not allowed
    <% end %>    
<% end %>
