<div class="page-container">
  <div class="group-header">
    <h1>Invite People To Your Group</h1>  
  </div>
  <%= simple_form_for @group do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :event_id, value: @event.id, required: true %>
    <!-- Users as Cards -->
    <div class="row">
      <% @users.each do |user| %>
      <div 
        class="col-md-2"
        data-controller="card-selection"
        data-action="click->card-selection#toggleCard">
        <label for="user_<%= user.id %>" class="group-card-label">
          <div class="group-card" data-card-selection-target="card">
            <% if user.photo.attached? %>
              <%= cl_image_tag user.photo.key, class: "group-image", alt: "#{user.first_name} Image" %>
            <% else %>
              <%= image_tag "default-placeholder.jpg", class: "group-image", alt: "Default Event Image" %>
            <% end %>
            <div class="group-info">
              <h6><%= user.first_name %> <%= user.last_name %></h6>
              <p><%= calculate_age(user.dob) %> years old</p>
            </div>
          </div>
        </label>
        <!-- User Checkbox -->
        <div class="form-check">
          <%= check_box_tag 'group[user][]', user.id, false, 
            class: "form-check-input", 
            id: "user_#{user.id}",
            data: { card_selection_target: "checkbox" }  %>
          <%= label_tag "user_#{user.id}", "Invite", class: "form-check-label d-none" %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="group-submit">
      <div class="group-input">
        <%= f.input :bio, label: false, required: true, input_html: { placeholder: "Enter group name..." } %>
      </div>
      <div class="group-button">
        <%= f.submit 'Create Group', class: "btn btn-outline-success" %>
        <% end %>
      </div>
    </div>
</div>


