<div class="container w-100 border shadow mt-3 p-3">
    <%# temporary %>
    <p><%= current_user.email %></p>
    <p><%= current_user.invited_or_requested?(@group) %></p>

    <h1>Group for <%= @group.event.name %> @ <%= @group.event.location %></h1>
    <p class="small"> Date: <%= @group.event.date.strftime("%d %b %Y") %> </p>
    <p>Bio: <%= @group.bio %></p>
    <p class="">Created by: <%= current_user == @group.owner ? "You" : @group.owner.email %></p>
    <div class="">
        <%= render RequestsButtonComponent.new(@group) unless @group.owner?(current_user) %> 
        <%# correct path %>
        <%= link_to "Group Chat", messages_path,
                                  class: "#{current_user == @group.owner ? "" : "ms-2" } btn btn-primary btn-sm rounded-pill" if current_user.member?(@group) %>
    </div>
    <%= render "shared/requests", outgoing_requests: @outgoing_requests, incoming_requests: @incoming_requests if current_user == @group.owner %>
    <%= render UserRequestComponent.new(@group) if @group.members.any? %>
</div>
