<div class="page-background">
  <div class="event-show-banner">
    <div class="event-show-image" style="background-image: url('<%= @event.image.attached? ? cl_image_path(@event.image.key) : asset_path("banner-placeholder.jpg") %>');">
      <div class="event-show-overlay">
        <div class="event-show-header">
          <h1><%= @event.name %></h1>
          <p>Date: <%= @event.date.strftime("%B %d, %Y") %></p>
          <p>Location: <%= @event.location %></p>
        </div>
        <div class="tags-box">
          <% if @event.tags.present? %>
            <% @event.tags.each do |tag| %>
              <span class="tag active"><%= tag.name %></span>
            <% end %>
          <% else %>
            <p>No tags available.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render "groups/menu", group: @group, info_class: "menu__item active", messages_class: "menu__item", admin_class: "menu__item" %>
    <div class="group-container">
        <%= turbo_frame_tag :group_content do %>
            <%= render "groups/info", group: @group %>
        <% end %>
    </div>
</div>
