<div class="container w-100 border shadow mt-3 p-3">
    <%# temporary %>
    <p><%= current_user.email %></p>
    <p><%= current_user.invited_or_requested?(@group) %></p>

    <h1>Group for <%= @group.event.name %> @ <%= @group.event.location %></h1>
    <p class="small text-black"> Date: <%= @group.event.date.strftime("%d %b %Y") %> </p>
    
    <div class="">
        <%= render RequestsButtonComponent.new(@group) unless @group.owner?(current_user) %> 
    </div>
    <%= render "groups/menu", group: @group %>
    <%= turbo_frame_tag :group_content do %>
        <%= render "groups/info", group: @group %>
    <% end %>
</div>
