<div class="container w-100 border shadow mt-3 p-3">
    <h1>Group for <%= @group.event.name %> @ <%= @group.event.location %></h1>
    <p class="small"> Date: <%= @group.event.date.strftime("%d %b %Y") %> </p>
    <p>Bio: <%= @group.bio %></p>
    <% unless current_user == @group.owner %>
    <div class="">
        <p class="small">Created by: <%= @group.owner.email %></p>
        <div data-controller="modal">
            <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-action="click->modal#show"> Ask to join </button>
            <%= render "shared/modal", group: @group,
                                                        path: root_path,
                                                        title: "Send request to join #{@group.event.name} group",
                                                        message: "Message",
                                                        footer: "Not fully working yet"%>
        </div>
    </div>
    <% end %>
    <% if current_user == @group.owner %>
    <hr>
        <p><strong>Outgoing requests</strong></p>
        <table class="table table-striped table-sm table-hover">
        <thead>
            <td>ID</td>
            <td>User</td>
            <td></td>
        </thead>
        <tbody class="table-group-divider">
            <% @outgoing_requests.each do |request| %>
                <tr>
                    <td><%= request.id %></td>
                    <td><%= request.user.email %></td>
                    <td><%= link_to "Cancel", root_path, class: "btn btn-secondary btn-sm rounded-pill" %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <hr>
        <p><strong>Incoming requests</strong></p>
        <table class="table table-striped table-sm table-hover">
        <thead>
            <td>ID</td>
            <td>User</td>
            <td></td>
        </thead>
        <tbody class="table-group-divider">
            <% @incoming_requests.each do |request| %>
                <tr>
                    <td><%= request.id %></td>
                    <td><%= request.user.email %></td>
                    <td><%= link_to "Approve", root_path, class: "btn btn-success btn-sm rounded-pill" %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <% end %>
    
    <hr>
    <div class="my-4">
        
        <% if @group.members.any? %>
        <p><strong>Members</strong></p>
        <table class="table table-striped table-sm table-hover">
        <thead>
            <td style="width: 10%;">ID</td>
            <td style="width: 20%;">User</td>
            <td style="width: 70%;"></td>
        </thead>
        <tbody class="table-group-divider">
            <% @group.members.each do |member| %>
                <tr>
                    <td><%= member.id %></td>
                    <td><%= member.email %></td>
                    <td> <% if current_user == @group.owner %>
                        <%= link_to "Remove", root_path, class: "btn btn-danger btn-sm rounded-pill" %>
                        <% end %>
                        </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <% end %>
    </div>
</div>
