<div class="container w-100 border shadow mt-3 p-3">
    <p><%= current_user.email %></p>
    <h1>Group for <%= @group.event.name %> @ <%= @group.event.location %></h1>
    <p class="small"> Date: <%= @group.event.date.strftime("%d %b %Y") %> </p>
    <p>Bio: <%= @group.bio %></p>
    <% unless @group.owner?(current_user) %>
        <div class="">
            <p class="">Created by: <%= @group.owner.email %></p>
            <%= render RequestsButtonComponent.new(@group) %>
            
        </div>
    <% end %>
    <% if current_user == @group.owner %>
        <hr>
            <p><strong>Outgoing requests</strong></p>
            <table class="table table-striped table-sm table-hover">
            <thead>
                <td>ID</td>
                <td>User</td>
                <td></td>
            </thead>
            <tbody class="table-group-divider">
                <% @outgoing_requests.each do |request| %>
                    <tr>
                        <td><%= request.id %></td>
                        <td><%= request.user.email %></td>
                        <td><%= button_to "Cancel", cancel_request_path(request), method: :patch, class: "btn btn-secondary btn-sm rounded-pill" %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <hr>
            <p><strong>Incoming requests</strong></p>
            <table class="table table-striped table-sm table-hover">
            <thead>
                <td>ID</td>
                <td>User</td>
                <td></td>
            </thead>
            <tbody class="table-group-divider">
                <% @incoming_requests.each do |request| %>
                    <tr>
                        <td><%= request.id %></td>
                        <td><%= request.user.email %></td>
                        <td>
                            <div class="d-flex">
                                <%= button_to "Approve", approve_request_path(request), method: :patch,  class: "btn btn-success btn-sm rounded-pill" %>
                                <%= button_to "Reject", reject_request_path(request), method: :patch, class: "btn btn-info btn-sm rounded-pill" %>
                            </div>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% end %>
    <hr>
    <div class="my-4">
        <% if @group.members.any? %>
            <p><strong>Members</strong></p>
            <table class="table table-striped table-sm table-hover">
                <thead>
                    <td style="width: 10%;">ID</td>
                    <td style="width: 20%;">User</td>
                    <td style="width: 70%;"></td>
                </thead>
                <tbody class="table-group-divider">
                <%= render UserRequestComponent.new(@group) %>
                </tbody>
            </table>
        <% end %>
    </div>
</div>
