<% if outgoing_requests.any?%>
    <hr>
    <h3 class="mb-4"><strong>Outgoing requests</strong></h3>
    <div class="carousel-container" data-controller="carousel">
        <div class="carousel">
            <button class="carousel-arrow left-arrow" data-action="click->carousel#slideLeft" data-carousel-target="leftArrow">‹</button>
            <div class="carousel-track-container">
                <div class="carousel-track" data-carousel-target="track">
                    <% outgoing_requests.each do |request| %>
                        <div class="request-card" data-carousel-target="card">
                            <% if request.user.photo.attached? %>
                                <%= cl_image_tag request.user.photo.key, class: "request-image", alt: "#{request.user.first_name} Image" %>
                            <% else %>
                                <%= image_tag "banner-placeholder.jpg", class: "request-image", alt: "Default Event Image" %>
                            <% end %>
                            <div class="request-info">
                                <h6><%= request.user.first_name %> <%= request.user.last_name %></h6>
                                <p><%= calculate_age(request.user.dob) %> years old</p>
                            </div>
                            <div class="d-flex justify-content-center">
                                <%= link_to "Cancel", request_form_path(type: "cancel", request_id: request.id),
                                  data: { turbo_frame: "remote_modal_confirm" },
                                  class: "btn btn-secondary btn-sm rounded-pill" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            <button class="carousel-arrow right-arrow" data-action="click->carousel#slideRight" data-carousel-target="rightArrow">›</button>
        </div>
    </div>
<% end %>
<% if incoming_requests.any? %>
    <hr>
    <h3 class="mb-4"><strong>Incoming requests</strong></h3>
    <div class="carousel-container" data-controller="carousel">
        <div class="carousel">
            <button class="carousel-arrow left-arrow" data-action="click->carousel#slideLeft" data-carousel-target="leftArrow">‹</button>
            <div class="carousel-track-container">
                <div class="carousel-track" data-carousel-target="track">
                    <% incoming_requests.each do |request|  %>
                        <div class="request-card" data-carousel-target="card">
                            <% if request.user.photo.attached? %>
                                <%= cl_image_tag request.user.photo.key, class: "request-image", alt: "#{request.user.first_name} Image" %>
                            <% else %>
                                <%= image_tag "banner-placeholder.jpg", class: "request-image", alt: "Default Event Image" %>
                            <% end %>
                            <div class="request-info">
                                <h6><%= request.user.first_name %> <%= request.user.last_name %></h6>
                                <p><%= calculate_age(request.user.dob) %> years old</p>
                            </div>
                            <div class="d-flex justify-content-center">
                                <%= link_to "View", request_form_path(type: "approve", request_id: request.id),
                                                                                        data: { turbo_frame: "remote_modal_confirm" },
                                                                                        class: "btn btn-primary btn-sm rounded-pill mx-2 w-50" %>
                                <%= link_to "Reject", request_form_path(type: "reject", request_id: request.id),
                                                                                        data: { turbo_frame: "remote_modal_confirm" },
                                                                                        class: "btn btn-secondary btn-sm rounded-pill mx-2 w-50" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            <button class="carousel-arrow right-arrow" data-action="click->carousel#slideRight" data-carousel-target="rightArrow">›</button>
        </div>
    </div>
<% end %>