<div>
  <%= link_to "Create new Event", new_event_path %>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1190297/pexels-photo-1190297.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
  <div class="container align-center">
    <h1><strong>EventMates</strong></h1>
    <p><strong>Your Gateway to Shared Experiences</strong>!</p>
    <%= render "shared/search_bar"%>
  </div>
</div>

<div class="content-sections">
  <!-- Events This Week Section -->
  <div class="carousel-container" data-controller="carousel">
    <h4>Events this week</h4>
    <div class="carousel">
      <button class="carousel-arrow left-arrow" data-action="click->carousel#slideLeft" data-carousel-target="leftArrow">‹</button>
      <div class="carousel-track-container">
        <div class="carousel-track" data-carousel-target="track">
          <% events_this_week = @events.where('date <= ?', Date.today + 7).order(:date) %>
          <% events_this_week.each do |event| %>
            <div class="carousel-card" data-carousel-target="card" data-url="<%= event_path(event) %>">
              <div class="carousel-card-content">
                <% if event.image.attached? %>
                  <%= cl_image_tag event.image.key, class: "carousel-card-img", alt: "#{event.name} Image" %>
                <% else %>
                  <%= image_tag "default-placeholder.jpg", class: "carousel-card-img", alt: "Default Event Image" %>
                <% end %>
                <div class="carousel-card-info">
                  <h6><%= event.name %></h6>
                  <p><%= event.date %></p>
                </div>
                <div class="carousel-card-info-2">
                  <p><%= event.location %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <button class="carousel-arrow right-arrow" data-action="click->carousel#slideRight" data-carousel-target="rightArrow">›</button>
    </div>
  </div>

  <!-- Events w/ Rock Tag Section -->
  <div class="carousel-container" data-controller="carousel">
    <h4>Rock Events</h4>
    <div class="carousel">
      <button class="carousel-arrow left-arrow" data-action="click->carousel#slideLeft" data-carousel-target="leftArrow">‹</button>
      <div class="carousel-track-container">
        <div class="carousel-track" data-carousel-target="track">
          <% events_rock_tag = @events.joins(:tags).where(tags: { name: 'rock' }).order(:date) %>
          <% events_rock_tag.each do |event| %>
            <div class="carousel-card" data-carousel-target="card" data-url="<%= event_path(event) %>">
              <div class="carousel-card-content">
                <% if event.image.attached? %>
                  <%= cl_image_tag event.image.key, class: "carousel-card-img", alt: "#{event.name} Image" %>
                <% else %>
                  <%= image_tag "default-placeholder.jpg", class: "carousel-card-img", alt: "Default Event Image" %>
                <% end %>
                <div class="carousel-card-info">
                  <h6><%= event.name %></h6>
                  <p><%= event.date %></p>
                </div>
                <div class="carousel-card-info-2">
                  <p><%= event.location %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <button class="carousel-arrow right-arrow" data-action="click->carousel#slideRight" data-carousel-target="rightArrow">›</button>
    </div>
  </div>

 <!-- Events w/ Rock Tag Section -->
  <div class="carousel-container" data-controller="carousel">
    <h4>Electronic Events</h4>
    <div class="carousel">
      <button class="carousel-arrow left-arrow" data-action="click->carousel#slideLeft" data-carousel-target="leftArrow">‹</button>
      <div class="carousel-track-container">
        <div class="carousel-track" data-carousel-target="track">
          <% events_rock_tag = @events.joins(:tags).where(tags: { name: 'electronic' }).order(:date) %>
          <% events_rock_tag.each do |event| %>
            <div class="carousel-card" data-carousel-target="card" data-url="<%= event_path(event) %>">
              <div class="carousel-card-content">
                <% if event.image.attached? %>
                  <%= cl_image_tag event.image.key, class: "carousel-card-img", alt: "#{event.name} Image" %>
                <% else %>
                  <%= image_tag "default-placeholder.jpg", class: "carousel-card-img", alt: "Default Event Image" %>
                <% end %>
                <div class="carousel-card-info">
                  <h6><%= event.name %></h6>
                  <p><%= event.date %></p>
                </div>
                <div class="carousel-card-info-2">
                  <p><%= event.location %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <button class="carousel-arrow right-arrow" data-action="click->carousel#slideRight" data-carousel-target="rightArrow">›</button>
    </div>
  </div>
</div>

