<div>
  <div class="event-banner">
  <%= image_tag(asset_path('banner-placeholder.jpg'), alt: 'Cover Banner', class: 'cover-banner', style: "height: 200px")%>
   </div>
  <div class="">
    <%= simple_form_for [@event] do |f| %>
      <%= f.input :name %>
      <%= f.input :location %>
      <%= f.input :description %>
      <%= f.input :date %>
      <%= f.submit "Create Event", class: "btn btn-primary" %>
    <% end %>
  </div>
  <h1 class="mt-5">Select the tags of this event</h1>
  <div>
    <div class="tags-container" data-controller="tag">
    <div class="tags">
      <% @tags.each do |tag| %>
        <span
          class="tag <%= 'active' if @event.tags.include?(tag) %>"
          data-tag-target="tag"
          data-action="click->tag#toggle"
          data-tag-id="<%= tag.id %>">
          <%= tag.name %>
        </span>
      <% end %>
    </div>
    <%= link_to "Save", profile_path(current_user), class: "btn btn-success btn-lg" %>
  </div>
  </div>

</div>
