<div class="d-flex justify-content-between">
  <h1><%= @event.name %></h1>
 <% if current_user.favorite_events.pluck(:event_id).exclude?(@event.id)  %>
  <div>
    <%= link_to "Add Event to Favorites", event_favorite_events_path(@event), class: "btn btn-primary", data: { turbo_method: :post }%>
  </div>
  <% else %>
    <div>
      <% favorite_event = current_user.favorite_events.find_by(event_id: @event.id) %>
      <%= link_to "Remove from Favorites", event_favorite_event_path(@event, favorite_event), class: "btn btn-danger text-white", data: { turbo_method: :delete }%>
    </div>
  <% end %>
</div>

<p>Date: <%= @event.date.strftime("%B %d, %Y") %></p>
<p>Location: <%= @event.location %></p>

<div class="">
<!-------Tag section-------->
  <div>
    <% if @tags.present? %>
      <% @tags.each do |tag| %>
        <span class="tag"><%= tag.name %></span>
      <% end %>
    <% else %>
      <p>No tags available.</p>
    <% end %>
  </div>

  <div>
<!-------Create group-------->
    <button type="button" class="btn btn-success rounded-5 "><%= link_to "Create new group", new_group_path, class: "text-decoration-none" %></button>
  </div>
</div>


<!-------testing el fix-------->


<h2>Interested in going</h2>

<!-------Users that selected the event as favorite-------->
<div class="mebers">
  <div class="row mt-4 d-flex justify-content-center">
    <% @favorites.each do |favorite| %>
        <div class="col-2 card-event text-center m-2 rounded-5">
          <%= link_to profile_path(favorite), class: "card-event text-decoration-none" do %>
            <%= favorite.first_name %>
            <% if favorite.photo.attached? %>
              <%= cl_image_tag favorite.photo.key, class: "profile-avatar-img", alt: "User Avatar" %>
            <% else %>
              <%= image_tag "avatar-placeholder.png", class: "profile-avatar-img", alt: "Default Avatar" %>
            <% end %>
            <%= favorite.email %>
          <% end %>
        </div>

    <% end %>
  </div>
</div>

<h2>Groups</h2>
<div class="groups">
  <!-------groups available for the event-------->
  <div class="row mt-4 d-flex justify-content-center">
      <% @groups.each do |group|%>
        <div class="col-2 card-event text-center m-2 rounded-5">
          <%= link_to group_path(group), class: "card-event text-decoration-none" do %>
            <%= image_tag "avatar-placeholder.png", class: "profile-avatar-img", alt: "Default Avatar" %>
            <div class="p-2">
              <h2 class="h6"><%= group.bio %></h2>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
</div>
