<div class="page-background">
  <div class="event-show-banner">
    <div class="event-show-image" style="background-image: url('<%= @event.image.attached? ? cl_image_path(@event.image.key) : asset_path("default-placeholder.jpg") %>');">
      <div class="event-show-overlay">
        <div class="event-show-header">
          <h1><%= @event.name %></h1>
          <p>Date: <%= @event.date.strftime("%B %d, %Y") %></p>
          <p>Location: <%= @event.location %></p>
        </div>
        <div class="tags-box">
          <% if @tags.present? %>
            <% @tags.each do |tag| %>
              <span class="tag active"><%= tag.name %></span>
            <% end %>
          <% else %>
            <p>No tags available.</p>
          <% end %>
        </div>
      </div>
      <div class="favorites-button">
        <button type="button" class="create-group-btn">
          <%= link_to new_group_path, class: "text-decoration-none d-flex align-items-center" do %>
            <i class="fa-solid fa-plus me-1"></i>
            <i class="fa-solid fa-user-group"></i>
          <% end %>
        </button>
        <%= render "favorites_button" %>
      </div>
    </div>
    <!-------Map-------->
    <div class="event-show-map">

    </div>
  </div>
  <!-------Content of the page-------->
  <div class="event-show-content">
    <!-------Users that selected the event as favorite-------->
    <div class="carousel-container" data-controller="carousel">
      <div class="event-show-section-headers">
        <h4>Interested in going</h4>
      </div>
      <div class="carousel">
        <button class="carousel-arrow left-arrow" data-action="click->carousel#slideLeft" data-carousel-target="leftArrow">‹</button>
        <div class="carousel-track-container">
        <div class="carousel-track" data-carousel-target="track">
          <% @favorites.each do |fv| %>
            <div class="user-card" data-carousel-target="card" data-url="<%= profile_path(fv) %>">
              <% if fv.photo.attached? %>
                <%= cl_image_tag fv.photo.key, class: "user-image", alt: "#{fv.first_name} Image" %>
              <% else %>
                <%= image_tag "default-placeholder.jpg", class: "user-image", alt: "Default Event Image" %>
              <% end %>
              <div class="user-info">
                <h6><%= fv.first_name %> <%= fv.last_name %></h6>
                <p><%= calculate_age(fv.dob) %> years old</p>
              </div>
            </div>
          <% end %>
        </div>
        </div>
        <button class="carousel-arrow right-arrow" data-action="click->carousel#slideRight" data-carousel-target="rightArrow">›</button>
      </div>
    </div>

    <!-------groups available for the event-------->
    <div class="carousel-container" data-controller="carousel">
      <div class="event-show-section-headers">
          <h4>Groups</h4>
      </div>
      <div class="carousel">
        <button class="carousel-arrow left-arrow" data-action="click->carousel#slideLeft" data-carousel-target="leftArrow">‹</button>
        <div class="carousel-track-container">
        <div class="carousel-track" data-carousel-target="track">
          <% @groups.each do |group| %>
            <% event = Event.find(group[:event_id]) %>
            <div class="user-card" data-carousel-target="card" data-url="<%= group_path(group) %>">
              <% if event.image.attached? %>
                <%= cl_image_tag event.image.key, class: "user-image", alt: "#{event.name} Image" %>
              <% else %>
                <%= image_tag "default-placeholder.jpg", class: "user-image", alt: "Default Event Image" %>
              <% end %>
              <div class="user-info">
                <h6><%= event.name %></h6>
                <p><%= group.bio %></p>
              </div>
            </div>
          <% end %>
        </div>
        </div>
        <button class="carousel-arrow right-arrow" data-action="click->carousel#slideRight" data-carousel-target="rightArrow">›</button>
      </div>
    </div>

  </div>
</div>