<div class="page-background">
  <div class="event-show-banner">
    <div class="event-show-image" style="background-image: url('<%= @event.image.attached? ? cl_image_path(@event.image.key) : asset_path("banner-placeholder.jpg") %>');">
      <div class="event-show-overlay">
        <div class="event-show-header">
          <h1><%= @event.name %></h1>
          <p>Date: <%= @event.date.strftime("%B %d, %Y") %></p>
          <p>Location: <%= @event.location %></p>
        </div>
        <div class="tags-box">
          <% if @tags.present? %>
            <% @tags.each do |tag| %>
              <span class="tag active"><%= tag.name %></span>
            <% end %>
          <% else %>
            <p>No tags available.</p>
          <% end %>
        </div>
      </div>
    </div>
    <!-------Map-------->
    <div class="event-show-map">

    </div>
  </div>
  <!-------Content of the page-------->
  <div class="event-show-content">
    <!-------Users that selected the event as favorite-------->
    <div class="carousel-container" data-controller="carousel">
      <div class="event-show-section-headers">
        <h4>Interested in going</h4>
        <div class="">
          <% if current_user.favorite_events.pluck(:event_id).exclude?(@event.id)  %>
          <div>
            <%= link_to "Add Event to Favorites", event_favorite_events_path(@event), class: "favorite-btn add", data: { turbo_method: :post }%>
          </div>
          <% else %>
            <div>
              <% favorite_event = current_user.favorite_events.find_by(event_id: @event.id) %>
              <%= link_to "Remove from Favorites", event_favorite_event_path(@event, favorite_event), class: "favorite-btn remove", data: { turbo_method: :delete }%>
            </div>
          <% end %>
        </div>
      </div>
      <div class="carousel">
        <button class="carousel-arrow left-arrow" data-action="click->carousel#slideLeft" data-carousel-target="leftArrow">‹</button>
        <div class="carousel-track-container">
        <div class="carousel-track" data-carousel-target="track">
          <% @favorites.each do |fv| %>
            <div class="event-card" data-carousel-target="card" data-url="<%= profile_path(fv) %>">
              <% if fv.photo.attached? %>
                <%= cl_image_tag fv.photo.key, class: "event-image", alt: "#{fv.first_name} Image" %>
              <% else %>
                <%= image_tag "banner-placeholder.jpg", class: "event-image", alt: "Default Event Image" %>
              <% end %>
              <div class="event-info">
                <h6><%= fv.first_name %> <%= fv.last_name %></h6>
                <p><%= calculate_age(fv.dob) %> years old</p>
              </div>
            </div>
          <% end %>
        </div>
        </div>
        <button class="carousel-arrow right-arrow" data-action="click->carousel#slideRight" data-carousel-target="rightArrow">›</button>
      </div>
    </div>

    <!-------groups available for the event-------->
    <div class="carousel-container" data-controller="carousel">
      <div class="event-show-section-headers">
          <h4>Groups</h4>
          <button type="button" class="create-group-btn"><%= link_to "Create new group", new_group_path, class: "text-decoration-none" %></button>
      </div>
      <div class="carousel">
        <button class="carousel-arrow left-arrow" data-action="click->carousel#slideLeft" data-carousel-target="leftArrow">‹</button>
        <div class="carousel-track-container">
        <div class="carousel-track" data-carousel-target="track">
          <% @groups.each do |group| %>
            <% event = Event.find(group[:event_id]) %>
            <div class="event-card" data-carousel-target="card" data-url="<%= group_path(group) %>">
              <% if event.image.attached? %>
                <%= cl_image_tag event.image.key, class: "event-image", alt: "#{event.name} Image" %>
              <% else %>
                <%= image_tag "banner-placeholder.jpg", class: "event-image", alt: "Default Event Image" %>
              <% end %>
              <div class="event-info">
                <h6><%= event.name %></h6>
                <p><%= group.bio %></p>
              </div>
            </div>
          <% end %>
        </div>
        </div>
        <button class="carousel-arrow right-arrow" data-action="click->carousel#slideRight" data-carousel-target="rightArrow">›</button>
      </div>
    </div>

  </div>
</div>