<div class="tags-page">
  <div class="profile-banner">
  <%= image_tag(asset_path('banner-placeholder.jpg'), alt: 'Cover Banner', class: 'cover-banner') %>
    <div class="profile-avatar">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, class: "profile-avatar-img", alt: "User Avatar" %>
      <% else %>
        <%= image_tag "avatar-placeholder.png", class: "profile-avatar-img", alt: "Default Avatar" %>
      <% end %>
    </div>
    <div class="tags-title">
      <h1><%= @user.first_name.capitalize %>'s Interests</h1>
    </div>
  </div>
  <div class="tags-container" data-controller="tag">
    <div class="tags">
      <% @tags.each do |tag| %>
        <span
          class="tag <%= 'active' if @user_tags.include?(tag) %>"
          data-tag-target="tag"
          data-action="click->tag#toggle"
          data-tag-id="<%= tag.id %>">
          <%= tag.name %>
        </span>
      <% end %>
    </div>
    <%= link_to "Save", profile_path(current_user), class: "tags-save-btn" %>
  </div>
</div>
